---
import ArticleCardMini from "@/components/parts/card/ArticleCardMini.astro"
import { CommonViewContainer } from "@/components/parts/CommonViewContainer"
import styles from "@/components/views/SameTagArticlesView.module.css"
import { getRecommendedArticlesWithLodash } from "@/components/views/SameTagArticleView.helpers"
import { getArticle, getArticleTagsForAllArticles } from "@/services/api"
import { isDefined } from "@/utils"
import { transformDataToArticleInfo } from "@/utils/transformer"

/** Props */
type Props = {
  /** 記事URL ID */
  articleUrlId: string
}

const { articleUrlId } = Astro.props

const articleTagsForAllArticles = await getArticleTagsForAllArticles()
const relatedArticleUrlIdList = getRecommendedArticlesWithLodash(
  articleTagsForAllArticles,
  articleUrlId
)
const relatedArticles = (
  await Promise.all(relatedArticleUrlIdList.map(articleUrlId => getArticle(articleUrlId)))
).filter(isDefined)

const relatedArticleInfoList = relatedArticles.map(article => transformDataToArticleInfo(article))
---

<CommonViewContainer
  icon={{ name: "hash", coloringMethod: "stroke" }}
  title="同じようなタグが設定されている記事"
>
  <div class={styles.sameTagArticles}>
    {
      relatedArticleInfoList.map(article => (
        <ArticleCardMini
          articleUrlId={article.articleUrlId}
          createdAt={article.createdAt}
          themeColor={article.themeColor}
          thumbnailUrl={article.thumbnailUrl}
          title={article.title}
          updatedAt={article.updatedAt}
        />
      ))
    }
  </div>
</CommonViewContainer>
