---
import "@/styles/global.css"

import styles from "@/components/layout/Layout.module.css"
import { LogoWrapper } from "@/components/layout/LogoWrapper"
import Sidebar from "@/components/layout/sidebar/Sidebar.astro"
import { ResponsiveContainer } from "@/components/parts/common/ResponsiveContainer"
import { SvgLoader } from "@/components/parts/svg/SvgLoader"

/** Props */
type Props = {
  /** ページタイトル */
  title: string
}

const { title } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#545454" name="theme-color" />
    <title>{title}</title>
  </head>
  <body>
    <div class={styles.layoutContainer}>
      <ResponsiveContainer>
        <header class={styles.header}>
          <LogoWrapper isPC={false} />
        </header>
      </ResponsiveContainer>

      <main class={styles.main}>
        <slot />
      </main>

      <aside class={styles.sidebar}>
        <Sidebar />
      </aside>
    </div>

    <ResponsiveContainer isPC>
      <div class={styles.backgroundPattern}>
        <SvgLoader name="background" />
        <div class={styles.overlay}></div>
      </div>
    </ResponsiveContainer>
  </body>
</html>
