---
import { HeaderPC } from "@/components/layout/sidebar/HeaderPC"
import { Infobar } from "@/components/layout/sidebar/Infobar"
import { ShareButtons } from "@/components/layout/sidebar/ShareButtons"
import styles from "@/components/layout/sidebar/Sidebar.module.css"
import { SidebarItemWithTitle } from "@/components/layout/sidebar/SidebarItemWithTitle"
import { TableOfContentsWrapper } from "@/components/layout/sidebar/TableOfContentsWrapper"
import { Input } from "@/components/parts/input/Input"
import { SvgLoader } from "@/components/parts/svg/SvgLoader"
import { PAGE_PATH } from "@/constants/page"
import { PC_TABLE_OF_CONTENTS_CONTAINER_ID } from "@/constants/value"

const curentArticleTitle = "記事のタイトル" // TODO: 仮当て
const currentArticleUrl = "https://dagashi.pw" // TODO: 仮当て
---

<script
  define:vars={{
    PAGE_PATH,
    PC_TABLE_OF_CONTENTS_CONTAINER_ID
  }}
>
  /** ブログ記事ページ以外ではサイドバーの目次は非表示にする */
  document.addEventListener("DOMContentLoaded", () => {
    const { pathname } = location

    // @ts-ignore どうしようもないので。
    if (!Object.values(PAGE_PATH).includes(pathname)) {
      return
    }

    const tableOfContentsPC = document.getElementById(PC_TABLE_OF_CONTENTS_CONTAINER_ID)

    if (tableOfContentsPC === null) {
      return
    }

    tableOfContentsPC.style.display = "none"
  })
</script>

<div class={styles.sidebarContainer}>
  <header class={styles.header}>
    <HeaderPC client:load />
  </header>

  <div class={styles.main}>
    {/* ビルド時点の日付で止まってしまうのとIPv4かどうか判定する必要があるのでCSRさせる */}
    <Infobar client:load />

    <SidebarItemWithTitle title="さがす">
      <Input client:load hasSearchIcon placeholder="キーワードを入力…" />
    </SidebarItemWithTitle>

    <div id={PC_TABLE_OF_CONTENTS_CONTAINER_ID}>
      <TableOfContentsWrapper client:only="react" />
    </div>

    <SidebarItemWithTitle title="この記事をシェアする">
      <ShareButtons
        client:load
        currentArticleTitle={curentArticleTitle}
        currentArticleUrl={currentArticleUrl}
      />
    </SidebarItemWithTitle>

    <SidebarItemWithTitle title="ミニゲーム - Color Junction">
      <div class={styles.colorJunction}>
        <iframe
          src="https://fugamaru.com/projects/ColorJunction/"
          height="264"
          width="244"
          frameborder="0"></iframe>
      </div>
    </SidebarItemWithTitle>

    <div class={styles.notbyai}>
      <SvgLoader name="notByAi" width={131} height={42} />
      <span class={styles.slogan}>このブログは人間が丹精込めて書いていますᕕ( ᐛ )ᕗ</span>
    </div>
  </div>
</div>
