---
import HeaderPC from "@/components/layout/sidebar/HeaderPC"
import Infobar from "@/components/layout/sidebar/Infobar"
import ShareButtons from "@/components/layout/sidebar/ShareButtons"
import styles from "@/components/layout/sidebar/Sidebar.module.css"
import SidebarItemWithTitle from "@/components/layout/sidebar/SidebarItemWithTitle"
import Input from "@/components/parts/input/Input"

const curentArticleTitle = "記事のタイトル" // TODO: 仮当て
const currentArticleUrl = "https://dagashi.pw" // TODO: 仮当て
---

<div className={styles.sidebarContainer}>
  <header className={styles.header}>
    <HeaderPC />
  </header>

  <div className={styles.main}>
    <Infobar />

    <SidebarItemWithTitle title="さがす">
      <Input client:load hasSearchIcon placeholder="キーワードを入力…" />
    </SidebarItemWithTitle>

    <ShareButtons
      client:load
      currentArticleTitle={curentArticleTitle}
      currentArticleUrl={currentArticleUrl}
    />
  </div>
</div>
