---
import HeaderPC from "@/components/layout/sidebar/HeaderPC"
import Infobar from "@/components/layout/sidebar/Infobar"
import ShareButtons from "@/components/layout/sidebar/ShareButtons"
import styles from "@/components/layout/sidebar/Sidebar.module.css"
import SidebarItemWithTitle from "@/components/layout/sidebar/SidebarItemWithTitle"
import TableOfContentsPC from "@/components/layout/sidebar/TableOfContentsPC"
import Input from "@/components/parts/input/Input"

const curentArticleTitle = "記事のタイトル" // TODO: 仮当て
const currentArticleUrl = "https://dagashi.pw" // TODO: 仮当て
---

<div class={styles.sidebarContainer}>
  <header class={styles.header}>
    <HeaderPC />
  </header>

  <div class={styles.main}>
    <Infobar />

    <SidebarItemWithTitle title="さがす">
      <Input client:load hasSearchIcon placeholder="キーワードを入力…" />
    </SidebarItemWithTitle>

    <TableOfContentsPC client:only="react" />

    <SidebarItemWithTitle title="この記事をシェアする">
      <ShareButtons
        client:load
        currentArticleTitle={curentArticleTitle}
        currentArticleUrl={currentArticleUrl}
      />
    </SidebarItemWithTitle>
  </div>
</div>
