---
import { getRemoteImageSize } from "@/components/article/standards/media/ArticleImage.helpers"
import styles from "@/components/article/standards/media/ArticleImage.module.css"
import { Image } from "@/components/parts/common/Image"

const { src, alt, caption } = Astro.props

const { width, height } = await getRemoteImageSize(src)
---

<div class={styles.articleImage}>
  <Image alt={alt} caption={caption} cssHeight="full" height={height} src={src} width={width} />
</div>
