---
import { Markdown } from "astro-remote"

import CodeBlockWrapper from "@/components/article/originals/CodeBlockWrapper.astro"
import { DownloadButton } from "@/components/article/originals/DownloadButton"
import InserterWrapper from "@/components/article/originals/InserterWrapper.astro"
import { YouTube } from "@/components/article/originals/YouTube"
import { ImageRow } from "@/components/article/originals/image/ImageRow"
import { ImageTextRow } from "@/components/article/originals/image/ImageTextRow"
import { Blockquote } from "@/components/article/standards/Blockquote"
import { Code } from "@/components/article/standards/Code"
import { Iframe } from "@/components/article/standards/Iframe"
import { LinkInArticle } from "@/components/article/standards/LinkInArticle"
import { Paragraph } from "@/components/article/standards/Paragraph"
import { Table } from "@/components/article/standards/Table"
import { H2 } from "@/components/article/standards/heading/H2"
import { H3 } from "@/components/article/standards/heading/H3"
import { H4 } from "@/components/article/standards/heading/H4"
import { Li } from "@/components/article/standards/list/Li"
import { Ul } from "@/components/article/standards/list/Ul"
import { ArticleImage } from "@/components/article/standards/media/ArticleImage"
import { Video } from "@/components/article/standards/media/Video"
import Layout from "@/components/layout/Layout.astro"
import { StaleContentWarning } from "@/components/templates/StaleContentWarning"
import { Hero } from "@/components/templates/hero/Hero"
import { CUSTOM_EVENT_ACTIVE_HEADING_CHANGE } from "@/constants/event"
import { SESSION_STORAGE_TABLE_OF_CONTENTS_KEY } from "@/constants/value"
import styles from "@/pages/_[articleUrlId].module.css"
import { getAllArticleUrlIds, getArticle } from "@/services/api"
import { getCurrentDateTime } from "@/utils/date"
import { formatArticleInfo, insertTableOfContents } from "@/utils/formatter"
import { isDefined } from "@/utils/isDefined"
import { generateTableOfContentsFromMarkdown } from "@/utils/table-of-contents"

/** 存在する記事のパス一覧をexportする */
export const getStaticPaths = async () => {
  const allArticleUrlIds = await getAllArticleUrlIds()

  return allArticleUrlIds.map(articleUrlId => ({
    params: {
      articleUrlId
    }
  }))
}

const { articleUrlId } = Astro.params

if (typeof articleUrlId !== "string") {
  throw new Error("記事のURL IDが不正です")
}

const article = await getArticle(articleUrlId)

if (!isDefined(article)) {
  throw new Error("記事情報が存在しません")
}

const articleInfo = await formatArticleInfo(article)
const tableOfContentsData = generateTableOfContentsFromMarkdown(article.body)
const tableOfContentsInsertedArticleBody = insertTableOfContents(article.body)
const articleDate = articleInfo.updatedAt
  ? new Date(articleInfo.updatedAt)
  : new Date(articleInfo.createdAt)
---

<script
  define:vars={{
    tableOfContentsData,
    SESSION_STORAGE_TABLE_OF_CONTENTS_KEY,
    CUSTOM_EVENT_ACTIVE_HEADING_CHANGE
  }}
>
  /** 目次コンポーネントがレンダリングされるのがscriptタグの実行後なためカスタムイベントを用いた目次データーの送信ができないのでsessionStorageを利用する */
  sessionStorage.setItem(SESSION_STORAGE_TABLE_OF_CONTENTS_KEY, JSON.stringify(tableOfContentsData))

  /**
   * IntersectionObserverを利用して、スクロール位置に応じてアクティブな見出しを取得する
   * 参考: https://qiita.com/iwmy/items/7e557c7777c927d1bfaa
   */
  document.addEventListener("DOMContentLoaded", () => {
    const relatedHeadingElements = document.querySelectorAll(
      "h1, h1 ~ *, h2, h2 ~ *, h3, h3 ~ *, h4, h4 ~ *"
    )

    const observer = new IntersectionObserver(
      entries => {
        const intersectingHeading = entries.find(heading => heading.isIntersecting)
        if (!intersectingHeading) return

        const activeHeadingId = intersectingHeading.target.id // #は含まれない

        if (activeHeadingId === "") {
          return
        }

        const event = new CustomEvent(CUSTOM_EVENT_ACTIVE_HEADING_CHANGE, {
          detail: `#${activeHeadingId}`
        })
        window.dispatchEvent(event)
      },
      {
        rootMargin: "-10% 0px -90%"
      }
    )

    relatedHeadingElements.forEach(element => {
      observer.observe(element)
    })
  })
</script>

<Layout title={`${article.title} | 麩菓子の雑記帳`}>
  <div class={styles.articlePageMain}>
    <div class={styles.heroSp}>
      <Hero device="sp" {...articleInfo} />
    </div>

    <div class={styles.heroPc}>
      <Hero device="pc" {...articleInfo} />
    </div>

    <div class={styles.body}>
      <StaleContentWarning articleDate={articleDate} client:load />

      <Markdown
        components={{
          h2: H2,
          h3: H3,
          h4: H4,
          p: Paragraph,
          a: LinkInArticle,
          img: ArticleImage,
          code: Code,
          video: Video,
          ul: Ul,
          li: Li,
          iframe: Iframe,
          table: Table,
          blockquote: Blockquote,
          ImageRow,
          ImageTextRow,
          Inserter: InserterWrapper,
          DownloadButton,
          YouTube,
          CodeBlock: CodeBlockWrapper
        }}
        content={tableOfContentsInsertedArticleBody}
        sanitize={{
          allowComponents: true
        }}
      />

      <p class={styles.built}>{`この記事は ${getCurrentDateTime()} にビルドされました`}</p>
    </div>
    {/* TODO: コメントエリア */}
  </div>
</Layout>
