---
import Layout from "@/components/layout/Layout.astro"
import { ArticleCardList } from "@/components/templates/ArticleCardList"
import { Pagination } from "@/components/templates/Pagination"
import { PAGE_NAME } from "@/constants/page"
import { QUERY_PAGE } from "@/constants/query"
import styles from "@/pages/_index.module.css"
import { getAllArticlesWithPagination } from "@/services/api"
import { formatArticleInfo } from "@/utils/formatter"
import { isDefined } from "@/utils/isDefined"

export const prerender = false

const currentPageParams = Astro.url.searchParams.get(QUERY_PAGE) ?? "1"
const currentPage = Number(currentPageParams)

const articles = await getAllArticlesWithPagination(currentPage)

if (!isDefined(articles)) {
  throw new Error("ページ情報が存在しません")
}

const articleInfoList = await Promise.all(articles.filter(isDefined).map(formatArticleInfo))
---

<Layout title={PAGE_NAME.TOP}>
  <div class={styles.topPage}>
    <ArticleCardList articleInfoList={articleInfoList} client:load />

    {
      // TODO: totalPageCountに実際の値を入れるようにする必要がある
    }
    <div class={styles.pagination}>
      <Pagination client:load currentPage={currentPage} totalPageCount={10} />
    </div>
  </div>
</Layout>
