---
import { BackNumber } from "@/components/parts/BackNumber"
import { ImageCore } from "@/components/parts/image/ImageCore"
import { Tag } from "@/components/parts/Tag"
import { ArticleInfoBar } from "@/components/templates/ArticleInfoBar"
import styles from "@/components/templates/hero/HeroSP.module.css"

import type { HeroProps } from "@/types/element"

/** Props */
type Props = HeroProps

const { articleUrlId, thumbnailUrl, backNumber, title, createdAt, updatedAt, tags } = Astro.props
---

<div class={styles.heroSP}>
  <div class={styles.imageContainer}>
    <ImageCore
      alt={title}
      borderRadius="0"
      cssHeight="auto"
      cssWidth="full"
      isEager
      isObjectFitCover
      isWide
      src={thumbnailUrl}
    />
    <div class={styles.overlay}></div>
    <div class={styles.number}>
      <BackNumber backNumber={backNumber} isShiftLeft />
    </div>
  </div>

  <div class={styles.articleDetails}>
    <div class={styles.upper}>
      <ArticleInfoBar
        articleUrlId={articleUrlId}
        client:load
        createdAt={createdAt}
        isWhiteStyle
        updatedAt={updatedAt}
      />
    </div>

    <h1 class={styles.title}>{title}</h1>

    <div class={styles.tags}>
      {tags.map(tagText => <Tag href={`/tags/${tagText}`} text={tagText} />)}
    </div>
  </div>
</div>
